html,
body,
div,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

a {
  text-decoration: none;
  color: #fff;
}

.flex {
  display: flex;
}

button {
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  height: 48px;
  border: none;
}

button:hover {
  background-color: #fff5e1;
  color: #ff5800;
  border: 2px solid #ff6b00;
}

button:active {
  background-color: #e05304;
  border: 2px solid #ff6b00;
  color: #f4f1f0;
}

button:disabled {
  background-color: #f4f1f0;
}


h1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

ul {
  list-style-type: none;
}

.headline-section h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.headline-section p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.headline-section,
header,
.works,
.about-me,
.technologies,
.contact-page {
  padding: 0 24px;
}

.container-full {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
}

header {
  background-color: #3c3a39;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline-section {
  background-color: #1c1a19;
  background-image: url("../images/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 590px;
  flex-direction: column;
}

footer li {
  margin-right: 2px;
  color: #505f79;
}

footer ul {
  border-top: 2px solid #dfe1e6;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.headline-section > ul {
  align-items: center;
}

.headline-section li {
  margin-right: 10px;
}

.works {
  display: grid;
  grid-template-columns: auto;
}

.works h2 {
  text-align: center;
  color: #1c1a19;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.border-works hr {
  border: 1px solid #212121;
}

.main-image {
  background-image: url("../images/ImgPlaceholder.png");
  background-repeat: no-repeat;
  height: 237px;
  margin-top: 80px;
}

.works h3 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.works li {
  margin: 12px 12px 12px 0;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  padding: 10px 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.works > button {
  width: 124px;
}

.item {
  background-image: url("../images/papd.png");
  margin-top: 24px;
}

.item > h3,
.item > p,
.item > ul {
  color: #fff;
  margin: 12px;
}

.item li {
  background-color: rgba(255, 255, 255, 0.24);
}

.item > button {
  width: 100%;
}

.about-section {
  background-color: #1c1a19;
  margin-top: 120px;
}

.about-me {
  background-image: url("../images/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.about-me h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me > p {
  color: #fff;
}

.about-me button {
  width: 161px;
}

.border-about-me {
  border-bottom: 1px solid #fff;
  margin-top: 201px;
}

.technologies {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 0;
}

.technologies h4 {
  display: list-item;
  text-align: center;
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
}

.technologies h4::marker {
  color: #ff6b00;
}

.technologies li {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

h4.frameworkss::marker {
  content: "\25AA   ";
  margin-right: 10px;
}

h4.languages::marker {
  content: "\2666   ";
}

h4.skillss::marker {
  content: "\25cf   ";
}

.contact-page {
  flex-direction: column;
}

.contact-page h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form * {
  margin: 12px 0;
}

.contact-page input {
  border: none;
  width: 100%;
  border-bottom: 1px solid #dbd8d7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 14px 0;
}

.contact-page textarea {
  width: 100%;
  border: none;
  background-color: #fbf8f7;
  padding: 12px;
  height: 114px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.form button {
  justify-content: center;
}

.border-butom {
  width: 50%;
  border-bottom: 2px #0d151e solid;
  border-radius: 10px;
  margin: 12px auto;
  align-self: center;
}

input[name="user_fullname"] {
  display: block;
}

input[name="first_name"],
input[name="last_name"] {
  display: none;
}

.full-name {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

footer {
  margin-top: 120px;
}

.mobile {
  display: contents;
}

.desktop {
  display: none;
}

.vvv {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100vw;
  width: 100vw;
  margin-left: 5%;
  margin-right: 5%;
  
}
@media screen and (min-width: 768px) {
  .container-full {
    width: 100%;
    margin: 0;
  }

  header,
  .works,
  .about-me,
  .technologies,
  .contact-page {
    padding: 0 156px;
  }

  nav li {
    margin-right: 32px;
    padding: 26px 0;
  }

  .headline-section {
    background-image: url("../images/Illustration-header.png");
    background-position: right;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  .headline-section ul {
    flex-direction: column;
  }

  .pitch {
    width: 35vw;
    padding-left: 82px;
  }

  .works {
    grid-template-columns: auto auto auto;
    column-gap: 24px;
  }

  .heading-works,
  .main {
    grid-column: 1/4;
  }

  .item button {
    display: none;
  }

  .border-works {
    margin: auto 0;
  }

  .heading-works {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .about-me {
    background-image: url("../images/Group.png");
    background-position: right;
  }

  .about-me > h2,
  .about-me > p {
    width: 35vw;
  }

  .technologies {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .contact-page {
    flex-direction: row;
  }

  .contact-page h3 {
    width: 40vw;
    margin-right: 24px;
    text-align: start;
  }

  .main-image {
    float: left;
    width: 50%;
    background-repeat: no-repeat;
    margin-top: 32px;
  }

  .pit {
    float: right;
    width: 50%;
  }

  .item:hover {
    background-image: url("../images/portfhover.png");
    position: relative;
  }

  .item:hover ul,
  .item:hover p,
  .item:hover h3 {
    display: none;
  }

  .item:hover > .btn-works {
    display: block;
    position: absolute;
    bottom: 0;
  }

  input[name="user_fullname"] {
    display: none;
  }

  input[name="first_name"],
  input[name="last_name"] {
    display: block;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: inline-flex;
  }

  .border-butom {
    display: none;
  }
  .vvv{
    display: flex;
    position: relative;
    flex-direction: row;
    
  }
}
